.main{
  /* display: flex; */
  justify-content: center;
  margin: 40px;
}
.container{
  
  align-content: center;
  /* margin: 100px; */
  
}
.cont{
  display: flex;
  
  height:30px;
  width: 200px;
  border:1px solid lightgray;
}


.sel{
  height:30px;
  width:200px; 
  
  font-size: 20px;
  border:0.25px solid lightgray;
  color:gray ;
  /* display: flex;
  justify-content: space-between; */
  
}

.icon{
  height:40px;
  width: 30px;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  color: rgb(43, 41, 41);
  /* border: 1px solid gray; */
}



.list-cont{
  height:150px; 
  width:250px;
  border:1px solid lightgray;
  padding: 10px;

}

.list{
  font-size: 20px;
  list-style-type: none;
  padding: 2px;
  
}


.truefalse{
  position: absolute;
  /* background-color: aqua; */
  height: 80px;
  width: 150px;
}